# https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/

# Politique d’audition
**Adoption**  
---  
**Instance** | **Date** | **Décision**  
[Conseil d’administration](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/conseil-dadministration/>) | 23 novembre 1993 | CAD-5413  
**Modification**  
---  
**Instance** | **Date** | **Décision** | **Commentaires**  
**Révision** | Aux cinq (5) ans  
---|---  
**Responsable** | Vice-recteur ou vice-rectrice aux affaires administratives et aux ressources  
**Parties prenantes**  
### 1. Dispositions générales
#### 1.1 Objectifs
L’objet de la politique d’audition est d’examiner et d’évaluer l’efficience, l’efficacité et l’économie du système de gestion et de contrôle interne de l’organisation et de soumettre des rapports à ce sujet. Le système de contrôle interne de l’organisation se définit comme l’ensemble des mesures administratives et des systèmes mis en place par l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>) en vue :
  * d’améliorer l’efficacité, l’efficience et l’économie de ses opérations;
  * de favoriser la réalisation de ses objectifs et des buts établis pour ses opérations et ses programmes;
  * de garantir la pertinence, la fiabilité et l’intégrité de l’information financière et de l’information relative à l’exploitation;
  * de garantir l’atteinte des résultats par l’utilisation efficace et efficiente des ressources;
  * de sauvegarder ses biens;
  * d’assurer le respect des lois et règlements qui la régissent ainsi que l’adhésion à ses politiques, pratiques et procédures internes.


#### 1.2 Références
  * [Règlement général 7 « Organisation administrative »](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/reseau.uquebec.ca/system/files/documents/regle-7_mai-2023.pdf>) de l’Université du Québec


#### 1.3 Responsable de l’application
Le vice-recteur ou la vice-rectrice aux affaires administratives et aux ressources est responsable de son application.
### 2. Rôles et modalités
#### 2.1 Domaine d’application
Cette politique s’applique à tous les secteurs de l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>) de même qu’à l’ensemble de ses systèmes de gestion et de contrôle.
#### 2.2 Contenu
##### **2.2.1 Les types d’audition**
La présente politique vise les auditions de type externe, interne, intégré et d’optimisation des ressources.
##### **2.2.2 Principes directeurs**
  1. Le programme d’audition a pour but d’évaluer la qualité des systèmes de contrôle et de gestion.


  1. Le programme d’audition ne vise pas comme telle la remise en cause des objectifs des différentes unités administratives.


  1. Le programme d’audition vise à apprécier la capacité des systèmes de gestion à atteindre les objectifs en utilisant les ressources de façon optimale.


  1. Dans un souci de transparence de gestion, l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>) facilite l’exécution des mandats du responsable de l’audition en lui accordant l’autonomie nécessaire.


  1. Le personnel de l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>) est appelé à collaborer au programme d’audition.


##### **2.2.2 Liste des programmes découlant de cette politique**
  * Programme triennal d’audition.
  * Programme annuel d’audition.


##### **2.2.3 Responsabilités et obligations des intervenants**
  1. Le recteur ou la rectrice de l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>) est responsable du contrôle interne de l’UQAC et en répond auprès du [Conseil d’administration](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/conseil-dadministration/>).


  1. Le vice-recteur ou la vice-rectrice aux affaires administratives et aux ressources assure l’application du programme et en répond auprès du Comité d’audition et du recteur ou de la rectrice. De plus, il prépare et fait approuver par le Comité d’audition les programmes triennal et annuel d’audition.


  1. Le Comité d’audition :


  * joue un rôle soutien auprès du [Conseil d’administration](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/conseil-dadministration/>) pour toute question d’audition et lui fait un rapport écrit de ses commentaires et recommandations;
  * approuve le programme triennal et les programmes annuels d’audition;
  * voit régulièrement au suivi des activités d’audition et s’assure de leur conformité aux programmes et de leur utilité quant à la mission de l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>);
  * est saisi de tout autre mandat d’audition que lui confie le [Conseil d’administration](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/conseil-dadministration/>).


  1. Le vice-recteur ou la vice-rectrice aux affaires administratives et aux ressources fait appel à des ressources externes à l’Université pour réaliser les mandats d’audition, prioritairement aux ressources du Centre Coopératif de vérification.


  1. La personne mandatée pour effectuer une audition :


  * relève administrativement du vice-recteur ou de la vice-rectrice aux affaires administratives et aux ressources;
  * peut, à la demande du vice-recteur ou la vice-rectrice aux affaires administratives et aux ressources et du Comité d’audition, entreprendre toute audition jugée essentielle au bon fonctionnement de l’organisation, si des risques particuliers sont décelés au cours de l’exercice ou si une demande en ce sens est faite;
  * doit discuter, avec le gestionnaire responsable de l’activité faisant l’objet d’une audition, des observations, conclusions et recommandations relatives à chaque mandat d’audition avant qu’un rapport final ne soit rédigé;
  * doit discuter également avec le vice-recteur ou la vice-rectrice aux affaires administratives et aux ressources des conclusions et recommandations relatives à chaque mandat d’audition avant qu’un rapport final ne soit rédigé;
  * soumet au recteur ou à la rectrice et aux membres du Comité d’audition ainsi qu’aux gestionnaires concernés par l’activité faisant l’objet d’une audition, un exemplaire de son rapport final d’audition.


  1. La personne gestionnaire responsable de l’activité faisant l’objet d’audition :


  * facilite l’accès à l’information;
  * discute le rapport préliminaire;
  * commente le rapport final d’audition;
  * indique les mesures d’améliorations retenues et leur échéancier de réalisation.


  1. Le personnel de l’[Université du Québec à Chicoutimi](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/universite-du-quebec-a-chicoutimi/>) est appelé à faciliter à la personne mandatée pour effectuer l’audition, dans l’exercice de sa fonction, l’accès à tout lieu, tout document et tout bien de l’UQAC et de lui fournir tout renseignement requis par lui.


### 3. Mise à jour
La présente politique doit être mise à jour au besoin et minimalement, tous les cinq (5) ans. La mise à jour est adoptée par le [Conseil d’administration](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/conseil-dadministration/>).
### 4. Dispositions finales
La présente politique entre en vigueur à compter de son adoption par le [Conseil d’administration](https://www.uqac.ca/mgestion/chapitre-4/reglement-relatif-aux-affaires-financieres/politique-daudition-de-verification/<https:/www.uqac.ca/mgestion/lexique/conseil-dadministration/>) de l’Université.
